.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 80%;
	color: white;
	background-image: linear-gradient(180deg, black, darkred, #CD1818);
}

.textsection {
	width: 50vw;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	background: #321E1E;
}

.imagesection {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-top: 5rem;
}