.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,138,1), rgba(135,206,235,1)), url("/images/stars.webp");
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.imagesection {
	position: relative;
	width: 100%;
	height: 150vh;
	margin-top: 5rem;
}

.spaceship {
	width: 2.5vw;
	height: 13vw;
	position: fixed;
	right: 13vw; 
	bottom: 9.25vw;
}

.launchpad {
	width: 20vw;
	height: 19vw;
	position: absolute;
	bottom: 7vw;
	right: 5vw;
}

.dustcloud {
	opacity: 0;
	position: absolute;
	bottom: 3vw;
	right: 0vw;
}

.dustcloud img {
	width: 30vw;
	height: 23vw;
}

.ground {
	width: 100%;
	background: green;
	height: 11vw;
	position: absolute;
	bottom: 0rem;
	right: 0rem;
}

.flame {
	width: 4vw;
	height: 9vw;
	position: fixed;
	bottom: 1vw;
	right: 12.25vw;
}

.cloud1 {
	width: 15vw;
	height: 10vw;
	position: absolute;
	bottom: 67vw;
	right: 23vw;
}

.cloud2 {
	width: 17vw;
	height: 12vw;
	position: absolute;
	bottom: 45vw;
	left: 30vw;
}

.cloud3 {
	width: 13vw;
	height: 10vw;
	position: absolute;
	bottom: 60vw;
	left: -3vw;
}
.ufo {
	position: absolute;
	top: 20vw;
	left: 13vw;
}

.ufo img {
	width: 1.5vw;
	height: 1vw;
}

.welcome {
	position: absolute;
	left: 50%;
	margin-left: -5vw;
	bottom: 50vh;
}

.road {
	position: absolute;
	bottom: 4.5rem;
	left: 33rem;
}

.textsection {
	width: 50%;
	margin: auto;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
