.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,138,1), rgba(135,206,235,1)), url("/images/stars.webp");
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.imagesection {
	position: relative;
	width: 100%;
	height: 150vh;
	margin-top: 5rem;
}

.spaceship {
	position: fixed;
	right: 11.5rem; 
	bottom: 8.5rem;
}

.launchpad {
	position: absolute;
	bottom: 6rem;
	right: 4rem
}

.building {
	position: absolute;
	bottom: 2.75rem;
	left: 12rem;
}

.dustcloud {
	opacity: 0;
	position: absolute;
	bottom: 3.25rem;
	right: 0rem;
}

.ground {
	width: 100%;
	background: green;
	height: 10rem;
	position: absolute;
	bottom: 0rem;
	right: 0rem;
}

.flame {
	position: fixed;
	bottom: 1rem;
	right: 10.5rem;
}

.cloud1 {
	position: absolute;
	bottom: 67rem;
	right: 23rem;
}

.cloud2 {
	position: absolute;
	bottom: 67rem;
	right: 5rem;
}

.cloud3 {
	position: absolute;
	bottom: 45rem;
	left: 20rem;
}

.cloud4 {
	position: absolute;
	bottom: 45rem;
	left: 30rem;
}

.cloud5 {
	position: absolute;
	bottom: 52rem;
	left: 55rem;
	transform: rotate(180deg);
}

.cloud6 {
	position: absolute;
	bottom: 63rem;
	left: 0rem;
}

.cloud7 {
	position: absolute;
	bottom: 60rem;
	left: -3rem;
}

.cloud8 {
	position: absolute;
	bottom: 40rem;
	right: 3rem;
}

.cloud9 {
	position: absolute;
	bottom: 35rem;
	right: 20rem;
}

.ufo {
	position: absolute;
	top: 14rem;
	left: 13rem;
}

.welcome {
	position: absolute;
	left: 50%;
	margin-left: -5vw;
	bottom: 50vh;
}

.road {
	position: absolute;
	bottom: 4.5rem;
	left: 33rem;
}

.textsection {
	width: 50%;
	margin: auto;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
