.navBar {
	background: black;
}

.navBar li {
	display: inline;
	padding: 1rem;
	background: black;
	color: lightgray;
}

.navBar li:hover, .navBar li:visited, .navBar li:link, .navBar li:active{
	background: #321E1E;
}

.navBar a, .navBar a:hover{
	background: none;
	color: none;
	text-decoration: none;
}

.navBar ul {
	margin-top: 1rem;
	padding: 0;
	padding-left: 3rem;
}
